

main {


  /* scroll horizontally as needed */

  position: relative;

  /* center contents */

  align-content: center;

  margin-top: 20px;

}

.flex-container{

  margin-top: 36px;
}
.flex-row{

  justify-content: center;
  align-items: : center;
}

h2{

  margin-top: 36px;
}


.my-menu-flex-container{

  display: flex;

  flex-wrap: wrap;


  justify-content: center;

  scroll-behavior: auto;

  width: 90%;

  height: 90%;

  padding: 14px 16px;

  margin-top: 20px;



  height: 95vh;


}

.category_title{

  justify-content: center;
  align-items: center;

  text: center;

}
.my-flex-container{
  border: 2px solid

  margin: 15px; green;
  height: 100px;
  margin-bottom: 20px;
}

.my-flex-container-column{
  border: 2px solid green;
  height: 200px;
  margin-bottom: 20px;
}

.my-flex-item {
  background-color: lightgrey;
  border: 1px dotted grey;
  height: auto;
  align-items: flex-end;

}

.my-flex-item-2{
  background-color: lightgrey;
  border: 1px dotted grey;
  height: 96px;
}
