{% extends "orders/base.html" %}

{% block title %}
Menu
{% endblock %}

{% block body %}
{% load static %}




<div class="my-menu-flex-container">

<div class="flex-container">

<h1>Menu Items</h1>

  <table id="full_menu" class="table-responsive display table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Type</th>
        <th scope="col">Size</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
    {% for item in menu_item %}
      <tr>
        <th scope="row">{{item.category}}</th>

        <td>{{item.name}}</td>
        <td>{{item.sizes}}</td>
        <td>{{item.price}}</td>

      </tr>
    {% endfor %}

  </tbody>
    </table>
</div>
</div>




<!--
<h3>pizza table</h3>
  <table class="table-responsive display table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Size</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
    {% for pizza_type in pizza_categories %}
      <tr>
        <th scope="row">{{pizza_type.name}}</th>

        <td>{{pizza_type.sizes}}</td>
        <td>{{pizza_type.price}}</td>

      </tr>
    {% endfor %}

    </tbody>
  </table>

</div>
-->

{% endblock %}
