{% extends 'orders/base.html' %}

{% block body %}

    <div class="col-md-8 col-xs-12">
      <table class="table table-hover table-bordered text-center">
          <tr>
          <td colspan="4"><h1>Thank you for your purchase {{user.username}}!</h1></td>
          </tr>
        <tr>
          <td colspan="4"><h4>Order Summary</h4></td>
        </tr>

        <tr>

            {% for item in order.get_cart_ordered_items %}

              <td>{{ item.menu_item.category }}</td>


            {%if item.menu_item.category == "Pizza" and "Topping" in item.menu_item.name %}

              {% if item.ptoppings != False %}
              <td>
                {{ item.menu_item.name }}
                Toppings: {{ item.ptoppings }}
              </td>
                  {% endif %}

                    {% endif %}

              {%if item.menu_item.category == "Pizza" and "Topping" not in item.menu_item.name %}
            <td>
                    {{ item.menu_item.name }} ;
            </td>
                        {% endif %}

                          
              {% if item.num_extras > 0 %}
              <td>
                {{ item.menu_item.name }}
                Extras: {{ item.extras }}
              </td>
                  {% endif %}

              {% if item.menu_item.category != "Pizza" and item.menu_item.category != "Subs" %}

              <td>   {{ item.menu_item.name }}</td>

                {% endif %}

                {% if item.num_extras > 0 %}
            <td>{{ item.menu_item.price }}
                  + {{item.extras_cost}}</td>

                  {% else %}

                  <td>{{item.menu_item.price}}</td>
                      {% endif %}


              <tr>

            {% endfor %}

        </tr>
        <tr>
          <td><strong>Order Total</strong> </td>
          <td> <strong>${{ order.get_cart_total }}</strong></td>
        </tr>
      </table>
        <a <button  href="{% url 'orders:profile' %}" class="pull-right btn btn-primary">Got to account profile</button> </a>
      <a <button  href="{% url 'orders:index' %}" class="pull-right btn btn-primary">Return to Menu</button> </a>

    </div>

{% endblock %}
